:root {
    --dark-bg: #353a40;
    --inactive-color: #9c9d9f;
    --buy-color: #29a744;
    --buy-color-2: #96c93e;
    --gradient-footer: linear-gradient(to right, #1c3643, #1e5372);
}

@font-face {
    font-family: 'Roboto';
    src: url('../assets/fonts/Roboto/Roboto-Regular.ttf');
}

@font-face {
    font-family: 'Noto Sans Regular';
    src: url('../assets/fonts/Noto_Sans/NotoSans-Regular.ttf');
}

@font-face {
    font-family: 'Noto Sans Bold';
    src: url('../assets/fonts/Noto_Sans/NotoSans-Bold.ttf');
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html, body {
    font-family: 'Roboto', 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    line-height: 1.5rem;
}

h1, h2, h3 {
    font-family: 'Noto Sans Bold', 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    line-height: 2rem;
}

h4, h5, h6 {
    font-family: 'Noto Sans Regular', 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-weight: normal;
    line-height: 1rem;
}

ul li {
    list-style: none;
}

header {
    background-color: var(--dark-bg);
    color: white;
    position: fixed;
    width: 100%;
    z-index: 1000;
}

.topbar {
    position: relative;
}

.navbar {
    display: none;
}

.nav-item {
    display: block;
    padding: 1rem;
    color: var(--inactive-color);
    text-decoration: none;
    text-align: center;
}

.active {
    color: white;
}

.item-buy {
    color: var(--buy-color);
}

.logo {
    font-weight: bold;
}

.logo img {
    display: inline-block;
    height: 1.5rem;
    width: auto;
    margin-right: .5rem;
    vertical-align: top;
}

.nav-item.logo, .nav-item.menu {
    display: inline-block;
}

.menu {
    position: absolute;
    right: 0;
}

.content {
    margin: auto;
    width: 90%;
}

.baires-bg, .polarized {
    height: 100vh;
    overflow: auto;
}

.baires-bg {
    background-image: url('../assets/images/ba1.jpg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.polarized {
    position: relative;
    background-color: rgba(0, 0, 0, 60%);
    color: white;
}

.baires-bg section {
    position: absolute;
    padding: 0 1.5rem;
    height: 70%;
    bottom: 1rem;
    text-align: end;
}

.baires-bg section p {
    max-height: 50%;
    overflow: auto;
}

.btn {
    display: block;
    width: fit-content;
    color: inherit;
    padding: .5em;
    margin: 1rem auto;
    border: 1px solid;
    border-radius: 5px;
    text-align: center;
    text-decoration: none;
}

.buy-btn {
    background-color: var(--buy-color);
    border-color: var(--buy-color);
}

#los-oradores {
    text-align: center;
    padding: 1rem 0;
}

.cards3x3 {
    margin: 0 auto;
    width: 90%;
}

.card {
    border: 1px solid lightgray;
    border-radius: 5px;
    margin: 1em auto;
}

.card img {
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    display: block;
    object-fit: cover;
    height: auto;
    width: 100%;
}

.card div {
    padding: 0 .333rem;
}

.btn-group {
    padding: 0 !important;
}

.js-btn, .react-btn, .buns-btn, .stups-btn {
    display: inline-block;
    margin: 1rem .5em .333rem;
    padding: 0 .333rem;
    font-weight: bold;
}

.js-btn {
    background-color: goldenrod;
    border-color: goldenrod;
}

.react-btn {
    background-color: darkcyan;
    border-color: darkcyan;
    color: white;
}

.buns-btn {
    background-color: dimgrey;
    color: white;
}

.stups-btn {
    background-color: firebrick;
    color: white;
}

.card h4 {
    font-weight: bold;
}

.card p {
    max-height: 40vh;
    margin: .333rem 0 1rem;
    padding: 0 .5rem;
    overflow: auto;
}

#el-lugar-y-la-fecha {
    background-color: var(--dark-bg);
    color: white;
}

#el-lugar-y-la-fecha img {
    display: block;
    height: 50vh;
    width: 100%;
    object-fit: cover;
}

#el-lugar-y-la-fecha section {
    padding: 1rem;
    max-height: 50vh;
    overflow: auto;
}

#conviertete-en-orador section {
    padding: 1rem 0;
    text-align: center;
}

.ignite-link {
    color: inherit;
    text-decoration: underline dotted;
}

#conviertete-en-orador input, #conviertete-en-orador textarea {
    border: 1px solid lightgrey;
    border-radius: 5px;
    padding: .5rem;
    margin: .5rem 0;
    width: 100%;
}

#conviertete-en-orador textarea {
    font-size: 1.1333rem;
}

#conviertete-en-orador form p {
    text-align: start;
    color: gray;
}

.send-btn {
    background-color: var(--buy-color-2);
    border-color: var(--buy-color-2) !important;
    color: white;
    font-size: 1.1333rem;
    letter-spacing: .1333rem;
}

footer {
    background-image: var(--gradient-footer);
    color: white;
}

footer .nav-item {
    color: inherit;
}

@media screen and (min-width: 640px) {
    .baires-bg, .polarized {
        min-height: 360px;
    }

    #la-conferencia section {
        height: 65%;
    }

    .btn {
        display: inline-block;
    }

    #la-conferencia .btn {
        margin: 1rem 0 0;
    }

    .buy-btn {
        margin-left: 1rem !important;
    }

    .card {
        display: inline-block;
        width: 45%;
        margin: .5rem;
        vertical-align: top;
    }

    #el-lugar-y-la-fecha img, #el-lugar-y-la-fecha section {
        display: inline-block;
        min-height: 70vh;
        width: 50%;
        vertical-align: top;
    }
}

@media screen and (min-width: 1024px) {
    header > div {
        position: relative;
        width: 90%;
        margin: auto;
    }

    ul li {
        display: inline-block;
    }

    .topbar, .navbar {
        display: inline-block;
    }

    .navbar {
        position: absolute;
        right: 0;
    }

    .nav-item {
        display: inline-block;
        padding: 1.5rem 0.5rem;
    }

    .nav-item.menu {
        display: none;
    }

    #la-conferencia section {
        height: 55%;
        width: 50%;
        right: 4%;
    }

    .baires-bg section p {
        max-height: 70%;
    }

    .card {
        width: 30%;
    }

    #conviertete-en-orador form {
        margin: auto;
        width: 60%;
    }

    .input-group input {
        width: 48% !important;
    }

    .input-name {
        float: left;
    }

    .input-surname {
        float: right;
    }

    footer {
        text-align: center;
    }

    footer .nav-item {
        padding: 0;
        margin: 1rem 2rem;
        max-width: min-content;
        vertical-align: middle;
    }
}
